html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  /* width: 1000px; */
  margin: 0;
}
.page {
  /* border: 1px solid; */
  outline: 2px dashed red;
}

.desc {
  /* box-sizing: content-box; */
  /* box-sizing: border-box; */
  /* width: 500px; */
  /* width: 10%; */
  /* min-width: 300px; */
  /* max-width: 200px; */
  /* height: 200px; */
  /* min-height: 200px; */
  /* height: 10dvh; */
  /* height: 20%; */
  /* width: clamp(200px, 90%, 800px); */
  width: 600px;

  /* padding: 10%; */
  padding: 24px 32px;
  /* padding: 24px 32px 48px;
  padding: 24px 32px 48px 56px; */

  border: 2px solid darkblue;
  /* margin: 24px 0; */
  /* margin: 0 auto; */
  margin: 100px auto 50px;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px; */
  /* margin: 5%; */

  background-color: lightblue;
  color: darkblue;

  /* border-top: 20px dotted red; */
  /* border-right: 10px dashed rebeccapurple; */

  /* border-top: none; */
  /* border-radius: 20px 40px; */
  border-radius: 10%;
}
.box {
  height: 200px;
  background-color: lightgreen;
}
.circle {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;

  background-color: rebeccapurple;
  border-radius: 50%;
}

.section {
  background-color: tomato;
}

/* Block vs Inline */
.block {
  margin: 0 auto;
  background-color: powderblue;
}

.block h2 {
  margin-top: 0;
  text-align: center;
  /* background-color: tomato; */
}
.block p {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  /* background-color: lightgreen; */
}

.container-lg {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 2px dashed red;
  outline-offset: -2px;
}

.block-2 {
}
.container-md {
  width: 600px;
  margin: 0 auto;
  outline: 2px dashed red;
  outline-offset: -2px;
}
