.section-title {
  width: 412px;
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent-text {
  color: rgb(var(--cl-accent));
}
