// .button {
//   display: inline-flex;
//   font-size: 16px;
//   padding: 10px 20px;
//   color: white;
//   background-color: gray;
// }


%button {
  display: inline-flex;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: gray;
}

.button-success {
  @extend %button;

  background-color: lightgreen;
}

.button-error {
  @extend %button;

  background-color: red;
}
